* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


.container {
    max-width: 1100px;
    margin: auto;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 15px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}


#menu-1 li {
    margin: 0 10px;
    list-style-type: none;
}

#menu-1 li a:link,
#menu-1 li a:visited,
#menu-1 li a:active {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

#menu-1 li a:hover {
    color: darkcyan;
}

section {
    margin: 0;
}


section.hero {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url('img/hero-section.jpg');
    position: relative;
}

section.hero .container {
    z-index: 10;
}


section.hero .container h1 {
    font-size: 4rem;
    color: #fff;
}

section.hero::after {
    content: "";
    position: absolute;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 38, 1) 35%, rgba(0, 212, 255, 1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* CHI SIAMO */

section.chi-siamo {
    background-color: cornsilk;
    min-height: 450px;
    display: flex;
    align-items: center;
    /* padding: 40px 20px 30px; */
    background-color: brown;
    background-image: url('img/caffe-sacchi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section.chi-siamo .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.chi-siamo .container .left-space {
    width: 50%;
}

/* section.chi-siamo .container .left-space img {
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
} */

section.chi-siamo .container .content {
    width: 50%;
    min-height: 450px;
    margin: 0;
    padding: 30px;
    line-height: 1.5;
    background-color: ivory;
    border-radius: 3px;
}

section.chi-siamo .container .content hr {
    margin: 15px 0;
    border: 1px solid #000;
    width: 50%;
}

/* CONTATTI */

section#contatti {
    min-height: 350px;
    padding: 50px 20px;


}

section#contatti h2 {
    text-align: center;
}

section#contatti form {
    width: 60%;
    margin: auto;
}



/* form */

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



/* SECTION MAPPA */
section#dove {
    position: relative;
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

section#dove>div {
    width: 50%;
}


section#dove .indirizzo {
    padding: 25px;
    background-color: cornsilk;

}

.indirizzo h3 {
    padding: 15px;
    font-weight: bold;
}

.indirizzo ul {
    list-style: none;
}

.indirizzo ul li {
    padding: 15px;
}

.indirizzo ul li span {
    display: inline;
    padding: 15px;
}

/* FOOTER */
footer {
    background-color: black;
    height: 100px;
    min-height: 100px;
    width: 100%;
    color: blanchedalmond;
    z-index: 20;

}

footer .container {
    padding: 30px;
    display: block;
}

#to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#to-top a {
    color: white;
}


@media screen and (max-width: 600px) {

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #menu-1 {
        width: 100%;
        margin-top: 20px;
    }

    section.hero {
        min-height: 250px;
    }

    section.hero .container h1 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    section.hero .container p {
        text-align: center;
    }

    section.chi-siamo .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    section.chi-siamo .container .left-space {
        width: 100%;
    }

    section.chi-siamo .container .content {
        width: 100%;
        padding: 20px;
        line-height: 1.5;
    }

    section#contatti form {
        width: 95%;
        margin: auto;
    }

    section#dove {
        display: block;
    }

    section#dove>div {
        width: 100%;
    }


    footer {
        width: 100%;
        height: 100px;
        z-index: 100;
    }

}